    /*html5*/
    article,header,section,nav{
        display:block
    }

    body,p,ul,li,h2,h4,header,section
    {
        font-family: "微软雅黑";
        border: 0;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    img{
        border: 0;
        padding: 0;
    }
    a:link,
	a:visited {
        color:#000;
        text-decoration:none;
    }
	a:hover{
        text-decoration:none;
    }
	a:active{
        color:#000;
	}
    header{
        display: block;
        width: 100%;
        min-width:1010px;
        height: 50px;
        background-color:#3579dd; 
    }
    .header{
        width: 1003px;
        height: 100%;
        margin: 0 auto;
    }
    .logo{
        float: left;
        padding: 9px 0 0 0;
        width: 300px;
        height: 40px;
    }
    .logo a{
        display: block;
        float: left;
        width: 110px;
        height: 30px;
        background: url("../imgs/logo.png") no-repeat left top;
        text-indent: -9999px;
    }
    .logo i{
        display: block;
        float: left;
        width: 163px;
        height: 30px;
        border-left: 1px solid #97bbee;
        background: url("../imgs/logo-sub.png") no-repeat 7px 7px;   
        text-indent: -9999px;
    }
    .user{
        float: right;
        padding: 5px 0 0 0;
    } 
    .user img{
        display: block;
        float: left;
        width: 40px;
        height:40px;
    }
    .user a{
        display: block;
        float: left;
        color: #fff;
        font-size: 12px;
        margin: 9px;
    }
    .user span{
        display: block;
        border-left:1px solid #fff;
        padding-left: 16px;
    }
    .function,.set-up, section span{
        background: url("../imgs/icons.png") no-repeat;
    }
    .container{
        margin: 0 auto;
        width: 1003px;
        overflow: auto;
    }
    .container nav{
        display: block;
        float: left;
        width: 208px;
        height: 263px;
        margin-top: 14px;
        background-color:#f6f6f6;
        border: 1px solid #e4e4e4;
    }
    .container nav a{
        display: block;
        color: #9c9c9c;
        font-size: 15px;
        padding: 18px 0 10px 47px;
    }
    .container nav li a{
        display: block;
        height: 30px;
        color: #4b4b4b;
        font-size: 15px;
        padding: 0px 0 5px 47px;
    }
    .function{
        width: 208px;
        height: 120px;
        border-bottom: 1px solid #e4e4e4;
        background-position: 26px 22px;
    }
    .set-up{
        background-position: 26px -76px;
    }
    section{
        float: left;
        margin: 25px 0 50px 20px;
        width: 773px;
    }
    section article{
        display: block;
        float: right;
        width: 680px;
    }
    section h2{
        font-size: 20px;
        font-weight: normal;
        color: #4b4b4b;
    }
   section .sub-li{
    padding: 0;
   }
    section a {
        display: block;
        float: left;
        padding-bottom: 5px;
        margin: 11px 30px 0 0;        
        color: #6b6b6b;
    }
    section ul a:hover,
    section ul a:visited{
        background: url("../imgs/line.png") repeat-x 4px 22px;
    }
    section li{
        display: block;
        float: left;
        width: 773px;
        padding: 22px 0;
        border-bottom: 1px solid #e4e4e4;
    }
    section li img{
        display: block;
        float: left;
        margin: 0px 12px 0px 0;
        width: 80px;
    }
    section h4{
        display: block;
        float: left;
        font-size: 16px;
        font-weight: normal;
    }
    section span{
        display: block;
        float: right;
        padding-left: 28px;
        color: #9c9c9c;
        background-position: 0px -210px;
    }
    section time{
        display: block;
        float: right;
        margin-left: 45px;
        color: #9c9c9c;
    }
    section p{
        display: block;
        float: left;
        padding-top: 10px;
        color: #9c9c9c;
        font-size: 12px;
        width:680px;
    }
    section i{
        display: block;
        float: left;
        font-style: normal;
        font-size: 14px;
        color: #9c9c9c;
    }
